<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User Management System | Item Information</title>
</head>
<body>
    <div class="container mt-5">
        <h2>User Management System | Item Information</h2>
        <div class="form-group mb-3">
            <label for="identifier">Item ID:</label>
            <input type="text" class="form-control" id="identifier" name="identifier" value="<%= item._id %>" disabled>
        </div>
        <div class="form-group mb-3">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= item.name %>" disabled>
        </div>
        <div class="form-group mb-3">
            <label for="category">category:</label>
            <input type="text" class="form-control" id="category" name="category" value="<%= item.category %>" disabled>
        </div>   
        <div class="form-group mb-3">
            <label for="quantity">quantity:</label>
            <input type="Number" class="form-control" id="quantity" name="quantity" value="<%= item.quantity %>"disabled>
        </div> 
        <div class="form-group mb-3">
            <label for="price">price:</label>
            <input type="Number" class="form-control" id="price" name="price" value="<%= item.price %>" disabled>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="required">description:</label>
            <input type="text" class="form-control" id="description" name="description" value="<%= item.description %>" disabled>
        </div>                  
            <a href="/items" class="btn btn-secondary">Back</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
</body>
</html>